/* Small Desktop */
@media only screen and (max-width: 1200px) {
    .card-why-us {
        min-height: 16rem;
    }
}

/* Tablet */
@media only screen and (max-width: 992px) {
    .nav-link {
        font-size: 12px;
    }
    .home-content {
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }
    .img-our {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .card-why-us {
        min-height: 21rem;
    }
}
@media only screen and (max-width: 767px) {
    .card-why-us {
        min-height: 12rem;
    }
    .why-us-text {
        text-align: center;
    }
    .rate {
        margin-left: auto;
        margin-right: auto;
    }
    .banner {
        max-width: 35rem;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-text {
        width: auto;
    }
}
@media only screen and (max-width: 600px) {
    .owl-carousel .card {
        max-width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }
    .banner {
        max-width: 25rem;
    }
    .banner h1 {
        font-size: 2rem;
    }
}

/* Mobile */
@media only screen and (max-width: 360px) {
    .card-why-us {
        min-height: 5rem;
    }
    .owl-carousel .card {
        max-width: 20rem;
    }
    .banner {
        max-width: 20rem;
    }
    .banner h1 {
        font-size: 2rem;
    }
    .banner p {
        font-size: 1rem;
    }
}